body {
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* Header */
header {
    overflow: visible;
    background-color: #ffffff;
    padding: 1vh 2vw;
    padding-bottom: 10vh;
    height: 9.5vh;
}

/* Top header */
.header-top {
    padding-bottom: 5vh;
    border-bottom: 1px solid black;
    border-bottom-width: 0.2vh;
}
.header-top a {
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh;
}
.logo {
    float: left;
    height: 10vh;
    width: 8.5%;
}
.title-name {
    font-size: 4.7vw;
    margin-left: 21vw;
    padding-top: 5vh;
    text-decoration: none;
}
.title-name:hover {
    color: #595959;
}
.contact-link {
    float: right;
    font-size: 4vh;
    padding-top: 2.5vh;
    text-decoration: none;
}
.contact-link:hover {
    text-decoration: underline;
}

/* Nav Bar */
.nav-bar {
    padding-top: 2vh;
}
.nav-bar a {
    float: left;
    font-size: 3vh;
    color: black;
    width: 25%;
    text-decoration: none;
    padding-bottom: 3vh;
    text-align: center;
}
.nav-bar a:hover {
    text-decoration: underline;
}

/* Home Body */
.class-search {
    border-radius: 1.5vh;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 7vh;
    width: 25%;
    text-indent: 1vw;
    margin-top: 15vh;
    margin-left: 33.5%;
}

.professor-search {
    border-radius: 1.5vh;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 7vh;
    width: 25%;
    text-indent: 1vw;
    margin-top: 8vh;
    margin-left: 33.5%;
}

.search-btn {
    padding-top: 2.25vh;
    padding-bottom: 2.25vh;
    padding-left: 3%;
    padding-right: 3%;
    height: 7vh;
    border-radius: 1.5vh;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-decoration: none;
    color: black;
}

/* Class home body */
.class-home-title {
    margin-top: 10vh;
    font-size: 2vh;
    text-align: center;
}

/* Class Results Body */
.class-search-results-title {
    text-align: center;
    margin-top: 10vh;
}
.results {
    margin-top: 2vh;
    margin-bottom: 10vh;
}
.result-card {
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 1%;
    border: 3px solid black;
    border-style: outset;
    padding: 1%;
}

/* Professor Home Body */
.professor-home-title {
    margin-top: 10vh;
    font-size: 2vh;
    text-align: center;
}

/* Professor Results Body */
.professor-name-and-rating {
    text-align: center;
    border:1px solid black;
    padding: 1%;
    padding-bottom: 5%;
}
.prof-name {
    float: left;
}
.prof-rating {
    float: right;
}
.professor-description {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* About Body */
.about-title {
    font-size: 5vh;
    text-align: center;
}
.about-p {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 5vh;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.2vh;
    padding-top: 1vh;
    border-top: 1px solid black;
    border-top-width: 0.2vh;
}
footer a {
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.git {
    color: black;
}