@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.course-cataloge {
    margin-top: 4%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.class-home {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}
#code {
    font-size: 3vmax;
    font-family: 'Playfair Display', serif;
}
#course {
    padding-top: 2%;
    margin-bottom: 2%;
    border: 3px outset black;
}
#bottom-margin {
    height: 10%;
}