.footer {
    bottom: 0%;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}
#git-link {
    display: flex;
}
#git-title {
    color: black;
    text-decoration: none;
    padding-left: 0.5vmin;
}
#get-title:hover{
    color: #303030 
}
#git-logo {
    width: 1vmax;
    height: 1vmax;
    padding-right: 0.2%;
}
#contact-link {
    text-decoration: none;
    color: black;
}
#contact-link:hover {
    color: #303030
}