.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding-top: 1vh;
    text-align: center;
    padding-bottom: 0.2vh;
    border-top-width: 0.2vh;
    background-color: white;
    border-top: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}
#git-link {
    width: 100%;
    color: black;
    text-align: center;
    vertical-align: auto;
    text-decoration: none;
}
#git-logo {
    width: 1%;
    height: 1%;
    padding-right: 0.2%;
}