@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.header-top {
    height: 10%;
    width: 100%;
    position: fixed;
    padding-top: 0.5%;
    padding-bottom: 0.1%;
    background-color: white;
    border-bottom-width: 0.2vh;
    font-family: 'Playfair Display', serif;
}
#logo-item {
    float: left;
    width: 10%;
}
#rt-logo {
    width: 80%;
    padding-left: 1%;
}
#title-name {
    float: left;
    width: 80%;
    color: black;
    font-size: 4vmax;
    text-align: center;
    text-decoration: none;
}
#title-name:hover {
    color: #595959;
}
#contact-link {
    float: left;
    width: 9%;
    color: black;
    font-size: 2vmax;
    padding-top: 1%;
    text-align: right;
    text-decoration: none;
}
#contact-link:hover {
    text-decoration: underline;
}