@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.nav-bar {
    padding-top: 6%;
}
.nav-bar a {
    width: 25%;
    float: left;
    color: black;
    margin-top: 1vmin;
    padding-top: 0.5%;
    font-size: 1.5vmax;
    text-align: center;
    padding-bottom: 2vh;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.nav-bar a:hover {
    text-decoration: underline;
}