.prof {
    text-align: center;
}
.full-review-prof {
    border: 2px outset black;
    margin-bottom:10px;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    background-color:white;
    margin-top:5%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
}
#prof-name {
    padding-top: 1%;
    font-family: 'Raleway', sans-serif;
}
.rating {
    margin: 1%;
    border: 1px outset black;
}

select {
    width: 550px;
    height:100px;
    white-space: break-spaces;
    word-wrap:break-word;
    font-family: 'Raleway', sans-serif;
  }

select.main{
    text-align:center;
}
